<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title> test </title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="/static/favicon.ico" rel="shortcut icon">
<link rel="stylesheet" href="/static/m.css" type="text/css" media="screen" charset="utf-8" /></head>
<body>
<form method="post" action="/debug">
<p><textarea maxlength="140" class="i" name="content" rows="3"></textarea></p>
<p><input type="submit" value="发送" /></p>
</form>
</body>
</html>
