<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>帮助 | 自定义Consumer</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/static/m.css" type="text/css" media="screen" charset="utf-8" /></head>
<body>
<h1><a href="/home?v=$int(time.time())"><img src="/static/fanfou.gif" alt="饭否" /></a></h1>
<p>Step 1：访问 <a href="http://fanfou.com/apps.new" target="_blank">http://fanfou.com/apps.new</a> 新建一个应用，随意填写</p>
<p><img src="/static/apps_new.png" alt="apps_new" /></p>
<p>Step 2：复制 Consumer key 和 Consumer secret</p>
<p><img src="/static/apps.png" alt="apps" /></p>
<p>Step 3：在 <a href="/authorize?m=:-)" target="_blank">/authorize?m=:-)</a> 填写 Consumer 并验证</p>
<p><img src="/static/consumer.png" alt="consumer" />
<div id="ft">&copy; 2012 m.setq.me</div>
<p>[$utils.now()]</p>
</body>
</html>
