<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>帮助 | 404</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/static/m.css" type="text/css" media="screen" charset="utf-8" /></head>
<body>
<h1><a href="/home?v=$int(time.time())"><img src="/static/fanfou.gif" alt="饭否" /></a></h1>
<p>我们没找到相关主题的帮助</p>
<div id="ft">&copy; 2012 m.setq.me</div>
<p>[$utils.now()]</p>
</body>
</html>
