$def with (me, status)

$code:
    def get_mentions(item):
        tmp = [item['user']['name']]
        p = re.compile(r'<[^>]*>(.*?)</a>')
        for name in p.findall(item['text']):
            if re.match(r'http[s]?.*', name):
                continue
            if name in tmp or name == me['name']:
                continue
            tmp.append(name)
        return '@' + ' @'.join(tmp)

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title> 饭否 | 回复$status['user']['name']</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/static/m.css" type="text/css" media="screen" charset="utf-8" /></head>
<body>
<h1><a href="/home?v=$int(time.time())"><img src="/static/fanfou.gif" alt="饭否" /></a></h1>
<h2>回复$status['user']['name']</h2>
<form method="post" action="/msg.reply/$status['id']">
<p><textarea maxlength="140" name="content" class="i" rows="3">$get_mentions(status) </textarea></p>
<p><input type="submit" value="回复" /></p>
</form>
<div id="nav">
<p class="s">
0<a href="/home" accesskey="0">首页</a>
1<a href="/$me['id']" accesskey="1">空间</a>
2<a href="/friends" accesskey="2">关注的人</a>
7<a href="/settings" accesskey="7">设置</a>
<br/>
3<a href="/browse" accesskey="3">随便看看</a>
8<a href="/photo.upload" accesskey="8">发照片</a>
9<a href="/search" accesskey="9">搜索</a>
</p>
</div>
<br/>
<p><a href="/logout/$utils.nonce()">退出</a></p>
<div id="ft">&copy; 2012 m.setq.me</div>
<p>[$utils.now()]</p>
</body>
</html>
